.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: grid;
    place-items: center;
    background-color: white;
}

.box{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(167, 167, 167, 0.588);
    width: 25%;
    height: 70%;
    align-items: center;
    padding: 0 2vmax;
    box-sizing: border-box;
}
.passwordForm{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.box > h1{
    font: 500 2vmax "Lexend";
    margin-top: 1vmax;

}
.passwordForm > div{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.passwordForm > div > div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.passwordForm > div > label{
    padding:  0.5vmax 0;
    font: 300 1vmax "Lexend";
    color: rgb(49, 49, 49);
}
.LockImg{
    height: 1.5vmax;
    position: absolute;
    transform: translateX(1vmax);
}
.inputBox{
    display: flex;
    align-items: center;
}

@media screen  and (max-width: 600px){
    .container{
        background-color: #fff;
    }
    .box{
        width: 100vw;
        height: 75vh;
    }
    .passwordForm{
        padding: 5vmax;
    }

    .passwordForm > div > label{
        font: 300 1.8vmax "Lexend";
    }
    .passwordForm > div > div  > input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
      }
    
      .passwordForm > div > div  > svg {
        font-size: 2.8vmax;
      }
    
      .updateProfileBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
      }
}